.about {
  color: #000000;
}

.about__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

/* .about__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
} */

.section__title {
  /* font-size: 3rem;
  font-weight: 700; */
  text-align: center;
  margin-bottom: 4rem;
}

.section__title span {
  color: #a855f7;
}

.about__line {
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.about__content {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 4rem;
}

/* LEFT */

.about__left p {
  color: #000000;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.about__dropcap {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.about__links {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #a855f7;
}

.about__links a {
  color: #a855f7;
  text-decoration: none;
  font-weight: 500;
}

/* RIGHT */

.about__stack-title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about__stack-title span {
  color: #a855f7;
}

.about__stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.about__chip {
  background: #1a1a1a;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 0.8rem;
  color: #bdbdbd;
  transition: all 0.2s ease;
}

.about__chip:hover {
  background: #262626;
  color: #fff;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .about__content {
    grid-template-columns: 1fr;
  }
}
